@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-Regular.ttf');
}
.inactive {
  display: none !important;
}

.primary_button_link {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  background: #5299c7;
  border-radius: 25px;
  text-align: center;
  transition: background 300ms ease-out;
}
.primary_button_link:hover {
  background: #1c587e;
}

.secondary_button_link {
  display: inline-block;
  color: #7fb3d3;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  text-align: center;
  transition: background 300ms ease-out;
  border: 6px solid #5299c7;
}
.secondary_button_link:hover {
  color: white;
  background: #5299c7;
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      115.58deg,
      #000000 28.14%,
      #515ec7 65.61%,
      #517bc7 83.77%,
      #5299c7 100%
    )
    no-repeat;
  min-height: 100dvh;
}
body div.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
body div.overlay.active {
  display: block;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
}

fieldset {
  all: unset;
}
fieldset legend {
  all: unset;
}

div.bottom-border {
  width: 100vw;
  height: 14px;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(
    90deg,
    #31719a 0%,
    #3e8dc0 35.42%,
    #64a4cd 64.06%,
    #8bbad9 100%
  );
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

.center {
  width: 84%;
  max-width: 1611px;
  margin: auto;
}

input {
  all: unset;
}

.primary_input_field {
  display: block;
  padding: 16px 16px 16px 36px;
  background: rgba(217, 217, 217, 0.4);
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: black;
  border-radius: 17px;
  width: 56%;
}
.primary_input_field::-moz-placeholder {
  text-transform: capitalize;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: rgba(0, 0, 0, 0.24);
}
.primary_input_field::placeholder {
  text-transform: capitalize;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: rgba(0, 0, 0, 0.24);
}

li {
  list-style: none;
}

/*------------------------------ Header Start ------------------------------*/
header div.center {
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header div.center a {
  display: flex;
  align-items: center;
}
header div.center a img {
  max-width: 251px;
  aspect-ratio: 1/1;
}
header div.center a h1 {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 5.3125rem;
  line-height: 1.2588235294;
  text-align: left;
  white-space: nowrap;
  margin-left: 21px;
}
header div.center .authorization > button:not([data-profile-btn]) {
  width: 251px;
  padding: 12px 0;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2.5625rem;
  line-height: 1.1707317073;
}
header
  div.center
  .authorization
  > button:not([data-profile-btn])
  + button:not([data-profile-btn]) {
  margin-left: 21px;
}
header div.center .authorization > button[data-profile-btn] {
  text-indent: -999999px;
  display: inline-block;
  background: url('../images/profile.png') no-repeat;
  width: 100px;
  height: 88.55px;
  overflow: hidden;
  margin: auto;
}
header div.center .authorization.authorized {
  position: relative;
}
header div.center .authorization.authorized > button:not([data-profile-btn]) {
  display: none;
}
header div.center .authorization:not(.authorized) button[data-profile-btn] {
  display: none;
}
header div.center .authorization div.dropdown_menu {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: auto !important;
  left: 50%;
  top: 7em;
  transform: translateX(-50%);
  transition: height 300ms ease-out;
  z-index: 7;
}
header div.center .authorization div.dropdown_menu.active {
  height: 20em;
}
header div.center .authorization div.dropdown_menu ul li {
  background: white;
  width: 301px;
}
header div.center .authorization div.dropdown_menu ul li a,
header div.center .authorization div.dropdown_menu ul li button {
  display: inline-block;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2.375rem;
  line-height: 1.1842105263;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  padding: 18px 0;
  transition: background 300ms ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
header div.center .authorization div.dropdown_menu ul li:hover {
  background: #d0d0d0;
}
header dialog[data-authorization-modal] {
  width: 44em;
}
header dialog[data-authorization-modal] form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
  width: 100%;
}
header dialog[data-authorization-modal] form fieldset legend {
  text-transform: capitalize;
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 5.4375rem;
  line-height: 1.2643678161;
  color: #5299c7;
  margin-bottom: 64px;
}
header dialog[data-authorization-modal] form label {
  display: none;
}
header dialog[data-authorization-modal] form input.primary_input_field + input {
  margin-top: 64px;
}
header dialog[data-authorization-modal] form div.form__btns {
  display: flex;
  margin-top: 49px;
  margin-bottom: 85px;
  justify-content: space-between;
  width: 63%;
  flex-wrap: wrap-reverse;
}
header dialog[data-authorization-modal] form div.form__btns > button {
  width: 190px;
  padding: 14px 0;
  border-radius: 8px;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.1875;
}
header dialog[data-authorization-modal] form div.form__btns div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header dialog[data-authorization-modal] form div.form__btns div p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.33);
  white-space: nowrap;
}
header dialog[data-authorization-modal] form div.form__btns div p + button {
  margin-top: 8px;
}
header dialog[data-authorization-modal] form div.form__btns div button {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.6875rem;
  line-height: 1.1851851852;
  color: #5299c7;
  text-transform: capitalize;
  text-decoration: underline;
  width: -moz-fit-content;
  width: fit-content;
}
header dialog[data-authorization-modal] button[data-close-modal] {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 6.25rem;
  line-height: 0.5;
  margin-right: 58px;
  margin-top: 52px;
  font-weight: bolder;
  color: #8f8f8f;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*------------------------------ Header End ------------------------------*/
/*------------------------------ Main Start ------------------------------*/
main section.center {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
main section.center div.content {
  flex-grow: 1;
}
main section.center div.content h2 {
  font-family: 'Outfit';
  font-weight: lighter;
  font-size: 5.125rem;
  line-height: 1.256097561;
  color: white;
  text-transform: capitalize;
  text-align: center;
  white-space: break-spaces;
  max-width: 520px;
  margin: auto;
}
main section.center div.content__links {
  width: -moz-fit-content;
  width: fit-content;
  margin: 55px auto;
}
main section.center div.content__links a {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2.5625rem;
  line-height: 1.1707317073;
}
main section.center div.content__links a:first-of-type {
  width: 251px;
  padding: 29px 0;
}
main section.center div.content__links a:last-of-type {
  width: 251px;
  padding: 23px 0;
}
main section.center div.content__links a + a {
  margin-left: 29px;
}
main section.center div.img-container img {
  width: 795px;
  aspect-ratio: 795/454;
  border-radius: 21px;
}

/*------------------------------ Main End ------------------------------*/
/*------------------------------ Footer Start ------------------------------*/
footer.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 28px;
  flex-wrap: wrap;
}
footer.center a {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 3.125rem;
  line-height: 1.22;
  color: white;
  text-decoration: underline;
  transition: color 150ms ease-out;
  text-transform: capitalize;
}
footer.center a:first-of-type {
  width: 75px;
}
footer.center a:first-of-type img {
  width: 100%;
  aspect-ratio: 1/1;
  margin-right: 25px;
}
footer.center a:hover {
  color: rgb(194, 194, 194);
}

/*------------------------------ Footer End ------------------------------*/
/*------------------------------ Media Queries Start ------------------------------*/
@media screen and (max-width: 1645px) {
  header div.center {
    flex-direction: column;
    align-items: center;
  }
  header div.center a + .authorization {
    margin-top: 25px;
  }
  main section.center {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  main section.center div.img-container img {
    margin: auto;
  }
}
@media screen and (max-width: 1050px) {
  header div.center .authorization {
    align-self: stretch;
    display: flex;
  }
  header div.center .authorization > button:not([data-profile-btn]) {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1040px) {
  .center {
    width: 95%;
  }
}
@media screen and (max-width: 900px) {
  header div.center a img {
    max-width: 125px;
  }
}
@media screen and (max-width: 854px) {
  main section.center div.img-container img {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 760px) {
  header div.center a h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media screen and (max-width: 680px) {
  header dialog[data-authorization-modal] form div.form__btns {
    flex-direction: column;
  }
  header dialog[data-authorization-modal] form div.form__btns div {
    align-self: flex-start;
    order: -1;
  }
  header dialog[data-authorization-modal] form div.form__btns div button {
    align-self: flex-end;
  }
  header dialog[data-authorization-modal] form div.form__btns button {
    width: 100%;
  }
  header dialog[data-authorization-modal] form div.form__btns button + div {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  header div.center a {
    flex-direction: column;
  }
  header div.center a h1 {
    white-space: normal;
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 595px) {
  header dialog[data-authorization-modal] form fieldset legend {
    font-size: 3.125rem;
    line-height: 1;
  }
  header dialog[data-authorization-modal] form input.primary_input_field {
    width: 71%;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    dialog[data-authorization-modal]
    form
    input.primary_input_field::-moz-placeholder {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    dialog[data-authorization-modal]
    form
    input.primary_input_field::placeholder {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    dialog[data-authorization-modal]
    form
    input.primary_input_field
    + input {
    margin-top: 32px;
  }
  header dialog[data-authorization-modal] form div.form__btns div p {
    font-size: 0.75rem;
    line-height: 1.3333333333;
  }
  header dialog[data-authorization-modal] form div.form__btns div button {
    font-size: 1rem;
    line-height: 1.25;
  }
  header dialog[data-authorization-modal] form div.form__btns button {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header dialog[data-authorization-modal] button[data-close-modal] {
    margin-right: 35px;
    zoom: 0.6;
  }
  main section.center div.content h2 {
    font-size: 4.5rem;
    line-height: 1;
  }
  main section.center div.content__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main section.center div.content__links a:first-of-type,
  main section.center div.content__links a:last-of-type {
    margin: 30px 0 0 0;
    width: 100%;
  }
  main section.center div.content__links a:last-of-type {
    width: calc(100% - 12px);
  }
}
@media screen and (max-width: 580px) {
  header div.center .authorization {
    flex-direction: column;
  }
  header div.center .authorization > button:not([data-profile-btn]) {
    flex-basis: 100%;
    width: 100%;
  }
  header
    div.center
    .authorization
    > button:not([data-profile-btn])
    + button:not([data-profile-btn]) {
    margin-left: 0;
    margin-top: 25px;
  }
}
@media screen and (max-width: 425px) {
  footer.center img + a {
    margin-top: 25px;
  }
}
@media screen and (max-width: 380px) {
  header div.center .authorization div.dropdown_menu ul li {
    width: 254px;
  }
  header div.center .authorization div.dropdown_menu ul li a {
    font-size: 1.5rem;
    line-height: 1.1666666667;
  }
  main section.center div.content {
    flex-grow: 0;
    width: 100%;
  }
  main section.center div.content h2 {
    font-size: 3.25rem;
    line-height: 1;
  }
  main section.center div.img-container img {
    width: 100%;
    margin: 0;
  }
}
/*------------------------------ Media Queries End ------------------------------*/
