@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-Regular.ttf');
}
@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy/Satisfy-Regular.ttf');
}
.inactive {
  display: none !important;
}

.primary_button_link {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  background: #5299c7;
  border-radius: 1.5625rem;
  text-align: center;
  transition: background 300ms ease-out;
}
.primary_button_link:hover {
  background: #1c587e;
}

.secondary_button_link {
  display: inline-block;
  color: #7fb3d3;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0);
  border-radius: 1.5625rem;
  text-align: center;
  transition: background 300ms ease-out;
  border: 0.375rem solid #5299c7;
}
.secondary_button_link:hover {
  color: white;
  background: #5299c7;
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      115.58deg,
      #000000 28.14%,
      #515ec7 65.61%,
      #517bc7 83.77%,
      #5299c7 100%
    )
    no-repeat;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
}

fieldset {
  all: unset;
}
fieldset legend {
  all: unset;
}

div.bottom-border {
  width: 100vw;
  height: 0.875rem;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(
    90deg,
    #31719a 0%,
    #3e8dc0 35.42%,
    #64a4cd 64.06%,
    #8bbad9 100%
  );
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

.center {
  width: 84%;
  max-width: 1611px;
  margin: auto;
}

input {
  all: unset;
}

.primary_input_field {
  display: block;
  padding: 1rem 0 1rem 2.25rem;
  background: rgba(217, 217, 217, 0.4);
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: black;
  border-radius: 1.0625rem;
  max-width: 100%;
}
.primary_input_field::-moz-placeholder {
  text-transform: capitalize;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: rgba(0, 0, 0, 0.24);
}
.primary_input_field::placeholder {
  text-transform: capitalize;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: rgba(0, 0, 0, 0.24);
}

li {
  list-style: none;
}

.copy-message {
  position: fixed;
  z-index: 7;
  margin: auto;
  bottom: 3.75rem;
  padding: 12px 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.368627451);
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.copy-message p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25;
  color: white;
  text-align: center;
}

.shown {
  opacity: 1;
}

/*------------------------------ Header Start ------------------------------*/
header {
  padding-top: 4.875rem;
}
header div.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header div.center h1 {
  display: flex;
  align-items: center;
}
header div.center h1 a {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 5.3125rem;
  line-height: 1.2588235294;
  text-align: left;
  white-space: nowrap;
  margin-left: 1.3125rem;
}
header div.center h1 a img {
  max-width: 15.6875rem;
  aspect-ratio: 1/1;
}
header div.center .authorization > button:not([data-profile-btn]) {
  width: 15.6875rem;
  padding: 0.75rem 0;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2.5625rem;
  line-height: 1.1707317073;
}
header
  div.center
  .authorization
  > button:not([data-profile-btn])
  + button:not([data-profile-btn]) {
  margin-left: 1.3125rem;
}
header div.center .authorization > button[data-profile-btn] {
  text-indent: -999999px;
  display: inline-block;
  background: url('../images/profile.png') no-repeat;
  width: 6.25rem;
  height: 5.534375rem;
  overflow: hidden;
  margin: auto;
}
header div.center .authorization.authorized {
  position: relative;
}
header div.center .authorization.authorized > button:not([data-profile-btn]) {
  display: none;
}
header div.center .authorization:not(.authorized) button[data-profile-btn] {
  display: none;
}
header div.center .authorization div.dropdown_menu {
  overflow: hidden;
  position: absolute;
  width: auto;
  left: 50%;
  top: 6.25rem;
  transform: translateX(-50%);
  z-index: 7;
}
header div.center .authorization div.dropdown_menu ul {
  height: 0;
  transition: height 300ms ease-out;
}
header div.center .authorization div.dropdown_menu ul li {
  width: 18.8125rem;
}
header div.center .authorization div.dropdown_menu ul li a,
header div.center .authorization div.dropdown_menu ul li button {
  background: white;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2.375rem;
  line-height: 1.1842105263;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  padding: 1.125rem 0;
  transition: background 300ms ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
header div.center .authorization div.dropdown_menu ul li a:hover,
header div.center .authorization div.dropdown_menu ul li button:hover {
  background: #d0d0d0;
}
header div.center .authorization div.dropdown_menu.active ul {
  height: calc(5.0625rem * 3);
}
header div.modal_container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 6;
}
header div.modal_container div[data-authorization-modal] {
  display: block;
  position: relative;
  background: white;
}
header div.modal_container div[data-authorization-modal] form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin: 4.25rem 9.375rem auto 9.375rem;
  width: auto;
  max-width: 70%;
}
header div.modal_container div[data-authorization-modal] form fieldset legend {
  text-transform: capitalize;
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 5.4375rem;
  line-height: 1.2643678161;
  color: #5299c7;
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
}
header div.modal_container div[data-authorization-modal] form label {
  display: none;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  input.primary_input_field {
  width: calc(100% - 2.25rem);
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  input.primary_input_field
  + input {
  margin-top: 4rem;
}
header div.modal_container div[data-authorization-modal] form div.form__btns {
  display: flex;
  margin-top: 3.0625rem;
  margin-bottom: 5.3125rem;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap-reverse;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  div.form__btns
  input {
  width: 11.875rem;
  padding: 0.875rem 0;
  border-radius: 0.5rem;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.1875;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  div.form__btns
  input
  + div {
  margin-left: 3.125rem;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  div.form__btns
  div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  div.form__btns
  div
  p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.33);
  white-space: nowrap;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  div.form__btns
  div
  p
  + button {
  margin-top: 0.5rem;
}
header
  div.modal_container
  div[data-authorization-modal]
  form
  div.form__btns
  div
  button {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.6875rem;
  line-height: 1.1851851852;
  color: #5299c7;
  text-transform: capitalize;
  text-decoration: underline;
  width: -moz-fit-content;
  width: fit-content;
}
header
  div.modal_container
  div[data-authorization-modal]
  button[data-close-modal] {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 6.25rem;
  line-height: 0.5;
  margin-right: 3.625rem;
  margin-top: 3.25rem;
  font-weight: bolder;
  color: #8f8f8f;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
header dialog[data-logout-dialog] {
  padding: 1.25rem 1.5625rem;
  border-radius: 1em;
  width: 25.625rem;
}
header dialog[data-logout-dialog] div.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 1em;
  column-gap: 1em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
  width: 100%;
}
header dialog[data-logout-dialog] div.wrapper h2 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  grid-column-start: span 2;
}
header dialog[data-logout-dialog] div.wrapper button {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  padding: 0.9375rem 0;
}
header dialog[data-logout-dialog] div.wrapper button[data-cancel-logout] {
  padding: 0.5625rem 0;
}

/*------------------------------ Header End ------------------------------*/
/*------------------------------ Main Start ------------------------------*/
main section.center {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5rem;
}
main section.center div.content {
  flex-grow: 1;
}
main section.center div.content h2 {
  font-family: 'Outfit';
  font-weight: lighter;
  font-size: 5.125rem;
  line-height: 1.256097561;
  color: white;
  text-transform: capitalize;
  text-align: center;
  white-space: break-spaces;
  max-width: 32.5rem;
  margin: auto;
}
main section.center div.content__links {
  width: -moz-fit-content;
  width: fit-content;
  margin: 3.4375rem auto;
}
main section.center div.content__links a {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 2.5625rem;
  line-height: 1.1707317073;
}
main section.center div.content__links a:first-of-type {
  width: 15.6875rem;
  padding: 1.8125rem 0;
}
main section.center div.content__links a:last-of-type {
  width: 15.6875rem;
  padding: 1.4375rem 0;
}
main section.center div.content__links a + a {
  margin-left: 1.8125rem;
}
main section.center div.img-container img {
  width: 49.6875rem;
  aspect-ratio: 795/454;
  border-radius: 1.3125rem;
}
main ul.history__table {
  width: 85%;
  max-width: 66.4375rem;
  min-height: 31.25rem;
  margin: 6.25rem auto auto auto;
  border-radius: 1.1875rem;
  background: linear-gradient(
    180deg,
    rgba(82, 153, 199, 0.76) 40.23%,
    rgba(82, 153, 199, 0) 100%
  );
}
main ul.history__table * {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
main ul.history__table li.history__table__row {
  margin-top: 2.9375rem;
}
main ul.history__table li.history__table__row--primary {
  border-bottom: 2px white solid;
  position: sticky;
  top: 0;
  background: #5299c7;
  border-radius: 1.1875rem 1.1875rem 0 0;
}
main ul.history__table li.history__table__row--primary h2 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 3.125rem;
  line-height: 1.18;
  text-transform: uppercase;
  color: white;
  padding: 2.8125rem 2%;
}
main ul.history__table li.history__table__row--primary h2:nth-child(2) {
  border-left: 2px white solid;
  border-right: 2px white solid;
}
main ul.history__table li.history__table__row time,
main ul.history__table li.history__table__row p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.3125rem;
  line-height: 1.1904761905;
  color: white;
  padding: 0 2%;
}
main ul.history__table li.history__table__row:last-child {
  margin-bottom: 6.25rem;
}
main div.profile__wrapper {
  width: 75%;
  max-width: 53.125rem;
  display: flex;
  flex-wrap: wrap;
  margin: 6.25rem auto 0 auto;
  justify-content: space-between;
}
main div.profile__wrapper div.profile__avatar__wrapper div {
  width: 13.4375rem;
  aspect-ratio: 1/1;
  background: #5299c7;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 9px 20px 0px;
}
main div.profile__wrapper div.profile__avatar__wrapper div h2 {
  font-family: 'Satisfy';
  font-weight: normal;
  font-size: 7.0625rem;
  line-height: 1.4424778761;
  color: white;
}
main div.profile__wrapper div.profile__avatar__wrapper + .profile__info {
  margin-left: 1.5625rem;
}
main div.profile__wrapper div.profile__info {
  max-width: 31.25rem;
}
main div.profile__wrapper div.profile__info h2 {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 5.9375rem;
  line-height: 1.2631578947;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main div.profile__wrapper div.profile__info ul {
  margin-top: 1.5625rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
main div.profile__wrapper div.profile__info ul li dl {
  display: flex;
}
main div.profile__wrapper div.profile__info ul li dl dt,
main div.profile__wrapper div.profile__info ul li dl dd {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 1.25;
  text-transform: capitalize;
  color: white;
  display: inline-block;
}
main div.profile__wrapper div.profile__info ul li dl dd {
  margin-left: auto;
}
main div.profile__wrapper div.progress__info {
  margin-top: 1.5625rem;
  width: 100%;
}
main div.profile__wrapper div.progress__info dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9375rem;
}
main div.profile__wrapper div.progress__info dl dt,
main div.profile__wrapper div.progress__info dl dd {
  color: white;
}
main div.profile__wrapper div.progress__info dl dt {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 1.25;
  text-transform: capitalize;
}
main div.profile__wrapper div.progress__info dl dd {
  font-family: 'Outfit';
  font-weight: normal;
  font-size: 1.8125rem;
  line-height: 1.275862069;
}
main div.profile__wrapper div.progress__info div.progress-bar {
  width: 100%;
  height: 16px;
  background: white;
  border-radius: 9px;
}
main div.profile__wrapper div.progress__info div.progress-bar::after {
  display: inline-block;
  content: '';
  background: #5299c7;
  width: 70%;
  height: 100%;
  border-radius: 9px;
}

/*------------------------------ Main End ------------------------------*/
/*------------------------------ Footer Start ------------------------------*/
footer {
  margin-top: auto;
}
footer ul.center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5.75rem;
  margin-bottom: 1.75rem;
  flex-wrap: wrap;
}
footer ul.center li {
  display: inline-block;
}
footer ul.center li:first-of-type {
  width: 4.6875rem;
  margin-right: auto;
}
footer ul.center li:first-of-type a img {
  width: 100%;
  aspect-ratio: 1/1;
}
footer ul.center li a {
  display: inline-block;
  transition: color 150ms ease-out;
}
footer ul.center li a[data-contact] {
  aspect-ratio: 1/1;
  width: 3.125rem;
  overflow: hidden;
  margin-right: 0.9375rem;
}
footer ul.center li a[data-contact][data-phone]::before {
  background: url('../images/phone.svg') no-repeat;
  background-size: 3.125rem 3.125rem;
}
footer ul.center li a[data-contact][data-email]::before {
  background: url('../images/email.svg') no-repeat;
  background-size: 3.125rem 3.125rem;
}
footer ul.center li a[data-contact][data-facebook]::before {
  background: url('../images/facebook.svg') no-repeat;
  background-size: 3.125rem 3.125rem;
}
footer ul.center li a[data-contact]::before {
  content: '';
  display: inline-block;
  width: 3.125rem;
  aspect-ratio: 1/1;
  filter: invert(100%);
  transition: filter 150ms ease-out;
}
footer ul.center li a[data-contact]:hover::before {
  filter: invert(85%);
}
footer div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
      115.58deg,
      #000000 28.14%,
      #515ec7 65.61%,
      #517bc7 83.77%,
      #5299c7 100%
    )
    no-repeat;
  opacity: 0;
}
footer div.overlay.inactive {
  display: none;
}
footer div.overlay.opaque {
  opacity: 1;
}
footer div.spinner {
  position: fixed;
  width: 6.25rem;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  z-index: 6;
  border: 10px solid white;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spinner 1.5s linear 0s infinite forwards;
}

/*------------------------------ Footer End ------------------------------*/
/*------------------------------ Media Queries Start ------------------------------*/
@media screen and (max-width: 1645px) {
  header div.center {
    flex-direction: column;
    align-items: center;
  }
  header div.center h1 + .authorization {
    margin-top: 1.5625rem;
  }
  main section.center {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  main section.center div.img-container img {
    margin: auto;
  }
}
@media screen and (max-width: 1167px) {
  main div.profile__wrapper {
    flex-direction: column;
    align-items: center;
  }
  main div.profile__wrapper div.profile__avatar__wrapper + .profile__info {
    margin: 0;
  }
}
@media screen and (max-width: 1050px) {
  header div.center .authorization {
    align-self: stretch;
    display: flex;
  }
  header div.center .authorization > button:not([data-profile-btn]) {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1040px) {
  .center {
    width: 95%;
  }
}
@media screen and (max-width: 900px) {
  header div.center h1 a img {
    max-width: 7.8125rem;
  }
  main div.history__table {
    width: 100%;
  }
}
@media screen and (max-width: 854px) {
  main section.center div.img-container img {
    width: 100%;
    margin: 0;
  }
  main ul.history__table li.history__table__row--primary h2 {
    font-size: 1.5rem;
    line-height: 1.1666666667;
  }
  main ul.history__table li.history__table__row time,
  main ul.history__table li.history__table__row p {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media screen and (max-width: 760px) {
  header div.center h1 a {
    font-size: 4.5rem;
    line-height: 1;
  }
  main div.profile__wrapper div.profile__avatar__wrapper div {
    width: 9.375rem;
  }
  main div.profile__wrapper div.profile__avatar__wrapper div h2 {
    font-size: 3.75rem;
    line-height: 1.0666666667;
  }
  main div.profile__wrapper div.profile__avatar__wrapper + div.profile__info {
    margin-top: 1.5625rem;
  }
  main div.profile__wrapper div.profile__info h2 {
    font-size: 3.125rem;
    line-height: 1.08;
  }
  main div.profile__wrapper div.profile__info ul li dl dt,
  main div.profile__wrapper div.profile__info ul li dl dd {
    font-size: 1.2rem;
    line-height: 1.2083333333;
  }
}
@media screen and (max-width: 730px) {
  header div.modal_container {
    justify-content: flex-start;
  }
  header div.modal_container div[data-authorization-modal] {
    width: 100%;
  }
  header div.modal_container div[data-authorization-modal] form {
    margin-left: auto;
    margin-right: auto;
  }
  header div.modal_container div[data-authorization-modal] form div.form__btns {
    flex-direction: column;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    div {
    align-self: flex-start;
    order: -1;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    div
    button {
    align-self: flex-end;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    input {
    width: 100%;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    input
    + div {
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 640px) {
  header div.center h1 {
    flex-direction: column;
  }
  header div.center h1 a {
    white-space: normal;
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 595px) {
  header
    div.modal_container
    div[data-authorization-modal]
    form
    fieldset
    legend {
    font-size: 3.125rem;
    line-height: 1;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field::-moz-placeholder {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field::placeholder {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field
    + input {
    margin-top: 2rem;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    div
    p {
    font-size: 0.75rem;
    line-height: 1.3333333333;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    div
    button {
    font-size: 1rem;
    line-height: 1.25;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    div.form__btns
    input {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    button[data-close-modal] {
    margin-right: 2.1875rem;
    zoom: 0.6;
  }
  main section.center div.content h2 {
    font-size: 4.5rem;
    line-height: 1;
  }
  main section.center div.content__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main section.center div.content__links a:first-of-type,
  main section.center div.content__links a:last-of-type {
    margin: 1.875rem 0 0 0;
    width: 100%;
  }
  main section.center div.content__links a:last-of-type {
    width: calc(100% - 0.75rem);
  }
}
@media screen and (max-width: 580px) {
  header div.center .authorization {
    flex-direction: column;
  }
  header div.center .authorization > button:not([data-profile-btn]) {
    flex-basis: 100%;
    width: 100%;
  }
  header
    div.center
    .authorization
    > button:not([data-profile-btn])
    + button:not([data-profile-btn]) {
    margin-left: 0;
    margin-top: 1.5625rem;
  }
  header dialog[data-logout-dialog] {
    width: 18.75rem;
    padding: 0.625rem 0.9375rem;
  }
  header dialog[data-logout-dialog] div.wrapper h2 {
    font-size: 1rem;
    line-height: 1.25;
  }
  header dialog[data-logout-dialog] div.wrapper button {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media screen and (max-width: 425px) {
  main ul.history__table li.history__table__row--primary h2 {
    font-size: 1rem;
    line-height: 1.25;
  }
  main ul.history__table li.history__table__row time,
  main ul.history__table li.history__table__row p {
    font-size: 0.75rem;
    line-height: 1.3333333333;
  }
  footer ul.center li:first-of-type + li {
    margin-left: 1.5625rem;
  }
}
@media screen and (max-width: 380px) {
  header div.center .authorization div.dropdown_menu ul li {
    width: 15.875rem;
  }
  header div.center .authorization div.dropdown_menu ul li a,
  header div.center .authorization div.dropdown_menu ul li button {
    font-size: 1.5rem;
    line-height: 1.1666666667;
  }
  header div.center .authorization div.dropdown_menu.active ul {
    height: calc(4rem * 3);
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field {
    font-size: 1rem;
    line-height: 1.25;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field::-moz-placeholder {
    font-size: 1rem;
    line-height: 1.25;
  }
  header
    div.modal_container
    div[data-authorization-modal]
    form
    input.primary_input_field::placeholder {
    font-size: 1rem;
    line-height: 1.25;
  }
  main section.center div.content {
    flex-grow: 0;
    width: 100%;
  }
  main section.center div.content h2 {
    font-size: 3.25rem;
    line-height: 1;
  }
  main section.center div.img-container img {
    width: 100%;
    margin: 0;
  }
  main div.profile__wrapper div.profile__avatar__wrapper div {
    width: 6.25rem;
  }
  main div.profile__wrapper div.profile__avatar__wrapper div h2 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
  main div.profile__wrapper div.profile__info {
    width: 100%;
  }
  main div.profile__wrapper div.profile__info h2 {
    font-size: 2rem;
    line-height: 1.125;
  }
  main div.profile__wrapper div.profile__info ul {
    width: 100%;
  }
  main div.profile__wrapper div.profile__info ul li dl dt,
  main div.profile__wrapper div.profile__info ul li dl dd {
    font-size: 1rem;
    line-height: 1.5;
  }
  main div.profile__wrapper div.progress__info dl dt {
    font-family: 'Outfit';
    font-weight: normal;
    font-size: 1.625rem;
    line-height: 1.1538461538;
  }
  main div.profile__wrapper div.progress__info dl dd {
    font-family: 'Outfit';
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
@media screen and (max-height: 760px) {
  header div.modal_container {
    align-items: flex-start;
    overflow-y: scroll;
  }
}
/*------------------------------ Media Queries End ------------------------------*/
/*------------------------------ Animations Start ------------------------------*/
@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
/*------------------------------ Animations End ------------------------------*/
